<template>
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div>
                                <div class="form-group">
                                    <label class="form-label">Nama Dusun</label>
                                    <input type="text" class="form-control" name="example-password-input" placeholder="Nama Dusun" v-model="subvillage.name">
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-success" v-on:click="updateItem"><i class="fa fa-save"></i> Simpan</button>
                                    <button class="btn" v-on:click="$router.back()"><i class="fa fa-times-circle"></i> Batal</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { subvillagesRef } from '../../../firebase'

export default {
  name: 'SubvillageEdit',
  data () {
    return {
      subvillage: {}
    }
  },
  firebase: {
    subvillageObj: {
      source: subvillagesRef,
      asObject: true
    }
  },
  methods: {
    updateItem: function () {
      subvillagesRef.child(this.$route.params.key).set({
        name: this.subvillage.name
      })
      $.notify({ message: 'Edit dusun berhasil' }, { type: 'success' })
      this.$router.push('/subvillage')
    }
  },
  mounted () {
    this.subvillage = this.subvillageObj[this.$route.params.key]
  }
}
</script>
