<template>
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <router-link class="btn btn-primary pull-right" to="/subvillage/create"><i class="fa fa-plus-circle"></i> Tambah</router-link>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 15px;">
                        <div class="col-md-12">
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                        <tr class="info">
                                            <th>Nama Dusun</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-if="subvillages.length == 0 && !loading">
                                            <td colspan="2" class="text-center">Tidak ada data</td>
                                        </tr>
                                        <tr v-if="loading">
                                            <td colspan="2" class="text-center">
                                                <b><i class="fa fa-spin fa-spinner"></i> Memuat data ...</b>
                                            </td>
                                        </tr>
                                        <tr v-for="item in subvillages" v-bind:key="item['.key']">
                                            <td>{{ item.name }}</td>
                                            <td class="text-right">
                                                <div class="dropdown">
                                                    <button class="btn btn-sm btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        <i class="fa fa-wrench"></i> Atur
                                                    </button>
                                                    <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                                        <router-link :to="'/subvillage/edit/' + item['.key']" class="dropdown-item"><i class="fa fa-edit"></i> Edit </router-link>
                                                        <a class="dropdown-item" href="#" v-on:click="deleteItem(item['.key'])"><i class="fa fa-trash-o"></i> Hapus </a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { subvillagesRef } from '../../../firebase'

export default {
  name: 'SubvillageView',
  data () {
    return {
      subvillages: [],
      loading: true
    }
  },
  firebase: {
    subvillages: {
      source: subvillagesRef.orderByChild('name'),
      readyCallback: function () {
        this.loading = false
      }
    }
  },
  methods: {
    deleteItem: function (key) {
      subvillagesRef.child(key).remove()
    }
  }
}
</script>
