<template>
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <canvas id="chart-gender"></canvas>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <canvas id="chart-education"></canvas>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import Chart from 'chart.js'
import { populationsRef, educationsRef } from '../../firebase'

export default {
  name: 'Dashboard',
  data () {
    return {
      populations: [],
      educations: [],
      loading: true
    }
  },
  firebase: {
    populationsArr: {
      source: populationsRef,
      readyCallback: function () {
        this.loading = false
        this.populations = this.populationsArr
        this.calculateEducation()
        this.calculateGender()
      }
    },
    educationsArr: {
      source: educationsRef,
      readyCallback: function () {
        this.educations = this.educationsArr
      }
    }
  },
  methods: {
    calculateGender: function () {
      const males = this.populations.filter(function (item) {
        return item.gender === 'M'
      })
      const females = this.populations.filter(function (item) {
        return item.gender === 'F'
      })
      const ctx = $('#chart-gender')
      const data = {
        datasets: [{
          data: [males.length, females.length],
          backgroundColor: ['#0074D9', '#FF4136']
        }],
        labels: [
          'Laki-Laki',
          'Perempuan'
        ]
      }
      var chartgender = new Chart(ctx, {
        type: 'pie',
        data: data
      })
      console.log(chartgender)
    },
    calculateEducation: function () {
      let educationgroups = []
      for (let i = 0; i < this.educations.length; i++) {
        const groups = this.populations.filter(function (item) {
          return item.education === this.educations[i].name
        })
        if (groups.length > 0) {
          educationgroups.push({
            name: this.educations[i].name,
            amount: groups.length
          })
        }
      }
      console.log(educationgroups.length)
      const ctx = $('#chart-education')
      const data = {
        datasets: [{
          data: educationgroups.map(function (item) {
            return item.amount
          }),
          backgroundColor: educationgroups.map(function (item) {
            return '#0074D9'
          })
        }],
        labels: educationgroups.map(function (item) {
          return item.name
        })
      }
      var charteducation = new Chart(ctx, {
        type: 'pie',
        data: data
      })
      console.log(charteducation)
    }
  }
}
</script>
