<template>
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label">Nama</label>
                                <input class="form-control" type="text" placeholder="Nama Lengkap" v-model="profile.displayName" autofocus>
                            </div>
                            <div class="form-group">
                                <label class="control-label">E-mail</label>
                                <input class="form-control" type="email" placeholder="Email" v-model="profile.email">
                            </div>
                            <div class="form-group">
                                <button class="btn btn-primary" v-on:click="updateProfile">Update Profil</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import firebase from 'firebase'

export default {
  name: 'Profile',
  data () {
    return {
      profile: firebase.auth().currentUser
    }
  },
  methods: {
    updateProfile: function () {
      firebase.auth().currentUser.updateProfile({
        displayName: this.profile.displayName,
        email: this.profile.displayName
      }).then(function () {
        $.notify({ message: 'Edit profil berhasil' }, { type: 'success' })
      }).catch(function (error) {
        $.notify({ message: 'Edit profil gagal : ' + error.message }, { type: 'danger' })
      })
    }
  }
}
</script>
