<template>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">Informasi Desa</div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Desa</label>
                                <input class="form-control" type="text" placeholder="Nama Desa" v-model="settings.village_name" autofocus>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Alamat</label>
                                <textarea class="form-control" type="text" placeholder="Alamat Desa" v-model="settings.village_address"></textarea>
                            </div>
                            <div class="form-group">
                                <label class="control-label">No. Telp</label>
                                <input class="form-control" type="text" placeholder="No. Telp" v-model="settings.phone">
                            </div>
                            <div class="form-group">
                                <label class="control-label">Kode Pos</label>
                                <input class="form-control" type="text" placeholder="Kode Pos" v-model="settings.zip_code">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Kecamatan</label>
                                <input class="form-control" type="text" placeholder="Nama Kecamatan" v-model="settings.district_name">
                            </div>
                            <div class="form-group">
                                <label class="control-label">Kabupaten</label>
                                <input class="form-control" type="text" placeholder="Nama Kabupaten" v-model="settings.city_name">
                            </div>
                            <div class="form-group">
                                <label class="control-label">Provinsi</label>
                                <input class="form-control" type="text" placeholder="Nama Propinsi" v-model="settings.province_name">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <button class="btn btn-primary" v-on:click="updateSetting">Simpan Setting</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { settingsRef } from '../../firebase'

export default {
  name: 'Setting',
  data () {
    return {
      settings: {
        village_name: '',
        village_address: '',
        phone: '',
        zip_code: '',
        district_name: '',
        city_name: '',
        province_name: ''
      }
    }
  },
  firebase: {
    settingObj: {
      source: settingsRef,
      asObject: true,
      readyCallback: function () {
        this.settings.village_name = this.settingObj.village_name
        this.settings.village_address = this.settingObj.village_address
        this.settings.phone = this.settingObj.phone
        this.settings.zip_code = this.settingObj.zip_code
        this.settings.district_name = this.settingObj.district_name
        this.settings.city_name = this.settingObj.city_name
        this.settings.province_name = this.settingObj.province_name
      }
    }
  },
  methods: {
    updateSetting: function () {
      settingsRef.set(this.settings)
      $.notify({ message: 'Setting berhasil diubah' }, { type: 'success' })
      this.$router.replace('/setting')
    }
  }
}
</script>
