<template>
    <aside class="app-sidebar">
      <div class="app-sidebar__user"><img class="app-sidebar__user-avatar" src="https://s3.amazonaws.com/uifaces/faces/twitter/jsa/48.jpg" alt="User Image">
        <div>
          <p class="app-sidebar__user-name">{{ userProfile.displayName }}</p>
          <p class="app-sidebar__user-designation" style="font-size: 11px;">{{ userProfile.email }}</p>
        </div>
      </div>
      <ul class="app-menu">
        <li><router-link class="app-menu__item" to="/dashboard"><i class="app-menu__icon fa fa-dashboard"></i><span class="app-menu__label">Dashboard</span></router-link></li>
        <li class="treeview"><a class="app-menu__item" href="#" data-toggle="treeview"><i class="app-menu__icon fa fa-laptop"></i><span class="app-menu__label">Master Data</span><i class="treeview-indicator fa fa-angle-right"></i></a>
          <ul class="treeview-menu">
            <li><router-link class="treeview-item" to="/subvillage"><i class="icon fa fa-circle-o"></i> Dusun</router-link></li>
            <li><router-link class="treeview-item" to="/population"><i class="icon fa fa-circle-o"></i> Penduduk</router-link></li>
          </ul>
        </li>
        <li class="treeview"><a class="app-menu__item" href="#" data-toggle="treeview"><i class="app-menu__icon fa fa-page"></i><span class="app-menu__label">Manajemen Surat</span><i class="treeview-indicator fa fa-angle-right"></i></a>
          <ul class="treeview-menu">
            <li><router-link class="treeview-item" to="/subvillage"><i class="icon fa fa-circle-o"></i> Pengantar SKCK</router-link></li>
            <li><router-link class="treeview-item" to="/population"><i class="icon fa fa-circle-o"></i> Keterangan Tidak Mampu</router-link></li>
          </ul>
        </li>
      </ul>
    </aside>
</template>

<script>
import firebase from 'firebase'
export default {
  name: 'Menu',
  data () {
    return {
      userProfile: firebase.auth().currentUser
    }
  }
}
</script>
