<template>
  <div class="page">
      <section class="material-half-bg">
        <div class="cover"></div>
      </section>
      <section class="login-content">
        <div class="logo">
          <img src="/static/images/logo.png" height="100"/>
        </div>
        <div class="login-box">
          <form class="login-form">
            <h3 class="login-head"><i class="fa fa-lg fa-fw fa-user"></i>SIGN IN</h3>
            <div class="form-group">
              <label class="control-label">E-mail</label>
              <input class="form-control" type="email" placeholder="Email" v-model="email" autofocus>
            </div>
            <div class="form-group">
              <label class="control-label">Password</label>
              <input class="form-control" type="password" placeholder="Password" v-model="password">
            </div>
            <div class="form-group">
              <div class="utility">
                <div class="animated-checkbox">
                  <label>
                    <input type="checkbox"><span class="label-text">Stay Signed in</span>
                  </label>
                </div>
                <p class="semibold-text mb-2"><a href="#" data-toggle="flip">Forgot Password ?</a></p>
              </div>
            </div>
            <div class="form-group btn-container">
              <button class="btn btn-primary btn-block" v-on:click="signIn"><i class="fa fa-sign-in fa-lg fa-fw"></i>SIGN IN</button>
            </div>
          </form>
          <form class="forget-form" action="index.html">
            <h3 class="login-head"><i class="fa fa-lg fa-fw fa-lock"></i>Forgot Password ?</h3>
            <div class="form-group">
              <label class="control-label">EMAIL</label>
              <input class="form-control" type="text" placeholder="Email">
            </div>
            <div class="form-group btn-container">
              <button class="btn btn-primary btn-block"><i class="fa fa-unlock fa-lg fa-fw"></i>RESET</button>
            </div>
            <div class="form-group mt-3">
              <p class="semibold-text mb-0"><a href="#" data-toggle="flip"><i class="fa fa-angle-left fa-fw"></i> Back to Login</a></p>
            </div>
          </form>
        </div>
      </section>
    </div>
</template>

<script>
import firebase from 'firebase'

export default {
  name: 'Login',
  data () {
    return {
      email: '',
      password: ''
    }
  },
  methods: {
    signIn: function () {
      firebase.auth().signInWithEmailAndPassword(this.email, this.password).then(
        (user) => {
          this.$router.replace('/')
        },
        (err) => {
          alert('Oops. ' + err.message)
        }
      )
    }
  },
  mounted () {
    $('.login-content [data-toggle="flip"]').click(function () {
      $('.login-box').toggleClass('flipped')
      return false
    })
  }
}
</script>
