<template>
  <div>
    <app-header></app-header>
    <div class="app-sidebar__overlay" data-toggle="sidebar"></div>
    <app-menu></app-menu>
    <main class="app-content">
      <div class="app-title">
        <div>
          <h1><i class="fa fa-table"></i> {{ $route.meta.title }}</h1>
          <p>{{ $route.meta.description }}</p>
        </div>
        <ul class="app-breadcrumb breadcrumb">
          <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
          <li class="breadcrumb-item"><a href="#">{{ $route.meta.title }}</a></li>
        </ul>
      </div>
      <router-view></router-view>
    </main>
  </div>
</template>

<script>
import AppHeader from '../components/layouts/Header'
import AppMenu from '../components/layouts/Menu'

export default {
  name: 'Main',
  components: {
    AppHeader,
    AppMenu
  },
  data () {
    return {
      msg: 'Welcome to Your Vue.js App'
    }
  },
  mounted () {
    var treeviewMenu = $('.app-menu')

    $('[data-toggle="sidebar"]').click(function (event) {
      event.preventDefault()
      $('.app').toggleClass('sidenav-toggled')
    })

    $("[data-toggle='treeview']").click(function (event) {
      event.preventDefault()
      if (!$(this).parent().hasClass('is-expanded')) {
        treeviewMenu.find("[data-toggle='treeview']").parent().removeClass('is-expanded')
      }
      $(this).parent().toggleClass('is-expanded')
    })
    $("[data-toggle='treeview.'].is-expanded").parent().toggleClass('is-expanded')
    $("[data-toggle='tooltip']").tooltip()
  }
}
</script>
