<template>
  <div class="page">
      <section class="material-half-bg">
        <div class="cover"></div>
      </section>
      <section class="login-content">
        <div class="logo">
          <h1>Sispendes</h1>
        </div>
        <div class="login-box">
          <form class="login-form">
            <h3 class="login-head"><i class="fa fa-lg fa-fw fa-user"></i>SIGN UP</h3>
            <div class="form-group">
              <label class="control-label">E-mail</label>
              <input class="form-control" type="email" placeholder="Email" v-model="email" autofocus>
            </div>
            <div class="form-group">
              <label class="control-label">Password</label>
              <input class="form-control" type="password" placeholder="Password" v-model="password">
            </div>
            <div class="form-group">
              <div class="utility">
                <div class="animated-checkbox" style="visibility: hidden;">
                  <label>
                    <input type="checkbox"><span class="label-text">Stay Signed in</span>
                  </label>
                </div>
                <p class="semibold-text mb-2"><router-link to="/login" data-toggle="flip">I have an account</router-link></p>
              </div>
            </div>
            <div class="form-group btn-container">
              <button class="btn btn-primary btn-block" v-on:click="signUp"><i class="fa fa-sign-in fa-lg fa-fw"></i>SIGN UP</button>
            </div>
          </form>
        </div>
      </section>
    </div>
</template>

<script>
import firebase from 'firebase'

export default {
  name: 'Register',
  data () {
    return {
      email: '',
      password: ''
    }
  },
  methods: {
    signUp: function () {
      firebase.auth().createUserWithEmailAndPassword(this.email, this.password).then(
        (user) => {
          this.$router.replace('/')
        },
        (err) => {
          alert('Oops. ' + err.message)
        }
      )
    }
  }
}
</script>
