<template>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <form role="form" class="form-horizontal" @submit.prevent="addItem">
                                <div v-bind:class="[{ 'has-error' : errors.has('nik') }, 'form-group', 'row' ]">
                                    <label class="col-form-label col-md-2">NIK</label>
                                    <div class="col-md-6">
                                        <input type="tel" name="nik" v-bind:class="[{ 'is-invalid' : errors.has('nik') }, 'form-control' ]" placeholder="NIK" v-model="population.nik" v-mask="'################'" v-validate="'required|min:16|max:16'">
                                        <div class="invalid-feedback">
                                            NIK tidak valid
                                        </div>
                                    </div>
                                </div>
                                <div v-bind:class="[{ 'has-error' : errors.has('name') }, 'form-group', 'row' ]">
                                    <label class="col-form-label col-md-2">Nama Lengkap</label>
                                    <div class="col-md-10">
                                        <input type="text" name="name" v-bind:class="[{ 'is-invalid' : errors.has('name') }, 'form-control' ]" placeholder="Nama Lengkap" v-model="population.name" v-validate="'required|alpha_spaces'">
                                        <div class="invalid-feedback">
                                            Nama lengkap wajib diisi
                                        </div>
                                    </div>
                                </div>
                                <div v-bind:class="[{ 'has-error' : errors.has('gender') }, 'form-group', 'row' ]">
                                    <label class="col-form-label col-md-2">Jenis Kelamin</label>
                                    <div class="col-md-10">
                                        <div class="form-check form-check-inline">
                                            <input v-bind:class="[{ 'is-invalid' : errors.has('gender') }, 'form-check-input' ]" type="radio" name="gender" value="M" v-validate="'required|included:M,F'" v-model="population.gender">
                                            <label class="form-check-label">Laki-Laki</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input v-bind:class="[{ 'is-invalid' : errors.has('gender') }, 'form-check-input' ]" type="radio" name="gender" value="F" v-model="population.gender">
                                            <label class="form-check-label">Perempuan</label>
                                        </div>
                                        <div class="invalid-feedback">
                                            {{ errors.first('gender') }}
                                        </div>
                                    </div>
                                </div>
                                <div v-bind:class="[{ 'has-error' : errors.has('birthplace') }, 'form-group', 'row' ]">
                                    <label class="col-form-label col-md-2">Tempat & Tgl Lahir</label>
                                    <div class="col-md-3">
                                        <input type="tel" name="birthplace" v-bind:class="[{ 'is-invalid' : errors.has('birthplace') }, 'form-control' ]" placeholder="Tempat Lahir" v-model="population.birthplace" v-validate="'required|alpha_spaces'">
                                        <div class="invalid-feedback">
                                            {{ errors.first('birthplace') }}
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <input type="date" name="birthdate" v-bind:class="[{ 'is-invalid' : errors.has('birthdate') }, 'form-control' ]" placeholder="Tanggal Lahir" v-model="population.birthdate" v-validate="'required'">
                                        <div class="invalid-feedback">
                                            Tanggal wajib diisi
                                        </div>
                                    </div>
                                </div>
                                <div v-bind:class="[{ 'has-error' : errors.has('religion') }, 'form-group', 'row' ]">
                                    <label class="col-form-label col-md-2">Agama</label>
                                    <div class="col-md-3">
                                        <select name="religion" v-bind:class="[{ 'is-invalid' : errors.has('religion') }, 'form-control' ]" v-model="population.religion" v-validate="'required'">
                                            <option value="">Pilih Agama...</option>
                                            <option v-for="item in religions" v-bind:key="item['.key']" v-bind:value="item.name">{{ item.name }}</option>
                                        </select>
                                        <div class="invalid-feedback">
                                            Agama wajib diisi
                                        </div>
                                    </div>
                                </div>
                                <div v-bind:class="[{ 'has-error' : errors.has('education') }, 'form-group', 'row' ]">
                                    <label class="col-form-label col-md-2">Pendidikan</label>
                                    <div class="col-md-4">
                                        <select name="education" v-bind:class="[{ 'is-invalid' : errors.has('education') }, 'form-control' ]" v-model="population.education" v-validate="'required'">
                                            <option value="">Pilih Pendidikan...</option>
                                            <option v-for="item in educations" v-bind:key="item['.key']" v-bind:value="item.name">{{ item.name }}</option>
                                        </select>
                                        <div class="invalid-feedback">
                                            Pendidikan wajib diisi
                                        </div>
                                    </div>
                                </div>
                                <div v-bind:class="[{ 'has-error' : errors.has('occupation') }, 'form-group', 'row' ]">
                                    <label class="col-form-label col-md-2">Pekerjaan</label>
                                    <div class="col-md-4">
                                        <select name="occupation" v-bind:class="[{ 'is-invalid' : errors.has('occupation') }, 'form-control' ]" v-model="population.occupation" v-validate="'required'">
                                            <option value="">Pilih Pekerjaan...</option>
                                            <option v-for="item in occupations" v-bind:key="item['.key']" v-bind:value="item.name">{{ item.name }}</option>
                                        </select>
                                        <div class="invalid-feedback">
                                            Pekerjaan wajib diisi
                                        </div>
                                    </div>
                                </div>
                                <div v-bind:class="[{ 'has-error' : errors.has('subvillage') }, 'form-group', 'row' ]">
                                    <label class="col-form-label col-md-2">Alamat</label>
                                    <div class="col-md-2">
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" >RT</span>
                                            </div>
                                            <input type="tel" name="rt" v-bind:class="[{ 'is-invalid' : errors.has('rt') }, 'form-control' ]" placeholder="RT" v-model="population.rt" v-mask="'###'" v-validate="'required|min:3|max:3'">
                                        </div>
                                        <div class="invalid-feedback">
                                            No RT tidak valid
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">RW</span>
                                            </div>
                                            <input type="text" name="rw" v-bind:class="[{ 'is-invalid' : errors.has('rw') }, 'form-control' ]" placeholder="RW" v-model="population.rw" v-mask="'###'" v-validate="'required|min:3|max:3'">
                                        </div>
                                        <div class="invalid-feedback">
                                            No. RW tidak valid
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <select v-bind:class="[{ 'is-invalid' : errors.has('subvillage') }, 'form-control' ]" name="subvillage" v-model="population.subvillage" v-validate="'required'">
                                            <option value="">Pilih Dusun...</option>
                                            <option v-for="item in subvillages" v-bind:key="item['.key']" v-bind:value="item.name">{{ item.name }}</option>
                                        </select>
                                        <div class="invalid-feedback">
                                            Dusun tidak valid
                                        </div>
                                    </div>
                                </div>
                                <div v-bind:class="[{ 'has-error' : errors.has('nokk') }, 'form-group', 'row' ]">
                                    <label class="col-form-label col-md-2">No. KK</label>
                                    <div class="col-md-6">
                                        <input type="tel" name="nokk" v-bind:class="[{ 'is-invalid' : errors.has('nokk') }, 'form-control' ]" placeholder="No. KK" v-model="population.nokk" v-mask="'################'" v-validate="'required|min:16|max:16'">
                                        <div class="invalid-feedback">
                                            No. KK tidak valid
                                        </div>
                                    </div>
                                </div>
                                <div v-bind:class="[{ 'has-error' : errors.has('relation') }, 'form-group', 'row' ]">
                                    <label class="col-form-label col-md-2">Hubungan dalam keluarga</label>
                                    <div class="col-md-3">
                                        <select name="relation" v-bind:class="[{ 'is-invalid' : errors.has('relation') }, 'form-control' ]" v-model="population.relation" v-validate="'required'">
                                            <option value="">Pilih Hubungan...</option>
                                            <option v-for="item in relations" v-bind:key="item['.key']" v-bind:value="item.name">{{ item.name }}</option>
                                        </select>
                                        <div class="invalid-feedback">
                                            Hubungan wajib diisi
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-success"><i class="fa fa-save"></i> Simpan</button>
                                    <button class="btn" v-on:click="$router.back()"><i class="fa fa-times-circle"></i> Batal</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import {mask} from 'vue-the-mask'
import moment from 'moment'
import { religionsRef, educationsRef, occupationsRef, relationsRef, subvillagesRef, populationsRef } from '../../../firebase'

export default {
  name: 'PopulationCreate',
  directives: { mask },
  data () {
    return {
      population: {
        nik: '',
        name: '',
        birthplace: '',
        birthdate: '',
        religion: '',
        education: '',
        occupation: '',
        subvillage: '',
        rt: '',
        rw: '',
        nokk: '',
        relation: ''
      }
    }
  },
  firebase: {
    religions: religionsRef.orderByChild('name'),
    educations: educationsRef.orderByChild('name'),
    occupations: occupationsRef.orderByChild('name'),
    subvillages: subvillagesRef.orderByChild('name'),
    relations: relationsRef.orderByChild('name')
  },
  methods: {
    addItem: function () {
      this.$validator.validateAll().then((result) => {
        if (result) {
          populationsRef.child(this.population.nik).set({
            nik: this.population.nik,
            name: this.population.name.toUpperCase(),
            gender: this.population.gender,
            birthplace: this.population.birthplace.toUpperCase(),
            birthdate: moment(this.population.birthdate, 'YYYY-MM-DD').format('YYYYMMDD'),
            religion: this.population.religion,
            education: this.population.education,
            occupation: this.population.occupation,
            subvillage: this.population.subvillage,
            rt: this.population.rt,
            rw: this.population.rw,
            nokk: this.population.nokk,
            relation: this.population.relation
          })
          $.notify({ message: 'Tambah penduduk berhasil' }, { type: 'success' })
          this.$router.push('/population')
        }
      })
    }
  }
}
</script>
