<template>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <router-link class="btn btn-primary pull-right" to="/population/create"><i class="fa fa-plus-circle"></i> Tambah</router-link>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 15px;">
                        <div class="col-md-12">
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                        <tr class="info">
                                            <th>NIK</th>
                                            <th>Nama Lengkap</th>
                                            <th>Tgl Lahir</th>
                                            <th>Dusun</th>
                                            <th>RT</th>
                                            <th>RW</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-if="populations.length == 0 && !loading">
                                            <td colspan="7" class="text-center">Tidak ada data</td>
                                        </tr>
                                        <tr v-if="loading">
                                            <td colspan="7" class="text-center">
                                                <b><i class="fa fa-spin fa-spinner"></i> Memuat data ...</b>
                                            </td>
                                        </tr>
                                        <tr v-for="item in populations" v-bind:key="item['.key']">
                                            <td>{{ item.nik }}</td>
                                            <td>{{ item.name }}</td>
                                            <td>{{ item.birthdate | dateFormat }}</td>
                                            <td>{{ item.subvillage }}</td>
                                            <td>{{ item.rt }}</td>
                                            <td>{{ item.rw }}</td>
                                            <td class="text-right">
                                                <div class="dropdown">
                                                    <button class="btn btn-sm btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        <i class="fa fa-wrench"></i> Atur
                                                    </button>
                                                    <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                                        <router-link :to="'/population/edit/' + item['.key']" class="dropdown-item"><i class="fa fa-edit"></i> Edit </router-link>
                                                        <a href="#" class="dropdown-item" v-on:click="deleteItem(item['.key'])"><i class="fa fa-trash-o"></i> Hapus </a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import moment from 'moment'
import { populationsRef } from '../../../firebase'

export default {
  name: 'PopulationView',
  data () {
    return {
      populations: [],
      loading: true
    }
  },
  firebase: {
    populations: {
      source: populationsRef.orderByKey(),
      readyCallback: function () {
        this.loading = false
      }
    }
  },
  methods: {
    deleteItem: function (key) {
      populationsRef.child(key).remove()
    }
  },
  filters: {
    dateFormat: function (value) {
      return moment(value, 'YYYYMMDD').format('DD-MM-YYYY')
    }
  }
}
</script>
