<template>
  <div id="app">
    <router-view/>
  </div>
</template>

<script>
export default {
  title: 'Foo Page',
  name: 'App'
}
</script>

<style>
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import '../node_modules/font-awesome/css/font-awesome.min.css';
@import './assets/css/main.css';
</style>
